/* ------------------------
CSS TABLE OF CONTENTS
# GLOBAL CSS
    # MIXINS
    # SUBPAGE
        # HEADINGS
    # TYPOGRAPHY
        # BODY
        # HEADINGS
    # MEDIA
        # IMG    
    # LAYOUT
        # BOX SIZING
        # CONTAINER
        # SECTION
    # GRID
        #   
    # STRUCTURE
        # SECTION
        # HERO SECTIONS
        # LAYOUT SECTIONS
        # SITE HEADER
        # SITE NAV

------------------------ */
/* BODY */
body {
  font-family: "kings-caslon", sans-serif;
  font-size: 100%;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.85); }

/* HEADINGS */
h1 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 8em; }

h2 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.75em; }

h3 {
  font-family: "kings-caslon", sans-serif;
  font-weight: 400;
  font-size: 2em; }

h4 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.25em; }

h5 {
  font-family: "kings-caslon", sans-serif;
  color: rgba(0, 0, 0, 0.5); }

h6 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-size: 1em; }

p {
  font-family: "kings-caslon", sans-serif;
  font-weight: 400;
  font-size: .9em;
  max-width: 29em; }

.site-nav li {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  list-style: none;
  font-weight: 300;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.5); }

li {
  list-style: none;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 200;
  list-style: none;
  color: rgba(0, 0, 0, 0.5); }

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5); }

hr {
  display: block;
  width: 80%;
  height: 1px;
  border: 0;
  border-top: 1px solid rgba(192, 36, 153, 0.5); }

img {
  max-width: 100%;
  height: auto; }

.clip-path .container {
  position: relative;
  padding: 0; }

.clip-path img {
  opacity: 0; }

.clip-path a {
  display: block; }

.clip-path .rust {
  background-image: url(../img/rust.jpg);
  background-size: 120%;
  background-position: right top;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 0 50%);
  clip-path: polygon(0 0%, 100% 0%, 0 50%); }

.clip-path .yellow {
  background-image: url(../img/yellow.jpg);
  background-size: 120%;
  position: absolute;
  top: 1vw;
  -webkit-clip-path: polygon(30% 26.75%, 100% 0, 100% 60%);
  clip-path: polygon(30% 26.75%, 100% 0, 100% 60%); }

.clip-path .blue {
  background-image: url(../img/blue.jpg);
  background-size: 120%;
  position: absolute;
  top: 27.45vw;
  -webkit-clip-path: polygon(29% 0.5%, 85% 40.5%, 0 100%, 0 17%);
  clip-path: polygon(29% 0.5%, 85% 40.5%, 0 100%, 0 17%); }

.clip-path .bluewater {
  background-image: url(../img/bluewater.jpg);
  background-size: 100%;
  position: absolute;
  top: 54.2vw;
  -webkit-clip-path: polygon(86% 0, 100% 7.5%, 100% 46%, 0 46%);
  clip-path: polygon(86% 0, 100% 7.5%, 100% 46%, 0 46%); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  padding: 0 4%;
  margin: 0 auto;
  max-width: 1000px; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1050px) {
  .container {
    max-width: 1050px; } }

@media (min-width: 1050px) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: 1250px; } }

/* Grid */
.row .column {
  margin-bottom: 2%; }

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1%;
    margin-right: -1%; }
    .row.swap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .row.center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .column {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1%; }
    .column.one-half {
      width: 48%; }
    .column.one-third {
      width: 31.3333%; }
    .column.two-thirds {
      width: 64.6666%; }
    .column.one-fourth {
      width: 23%; } }

/* SECTIONS */
section {
  padding: 3em 0;
  min-height: 100vh;
  place-items: center;
  display: -ms-grid;
  display: grid; }

.home {
  min-height: 0;
  padding: 0; }

/* HERO SECTIONS */
.hero {
  min-height: 0;
  margin: 0;
  padding: 0; }

/* STICKY SECTIONS ONLY */
@media (min-width: 768px) {
  .sticky-section {
    padding: 0;
    display: block;
    min-height: 0; }
    .sticky-section .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 0 0 0;
      min-height: 100vh; }
    .sticky-section h2 {
      text-align: right;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 100;
      width: 3em;
      margin: 0 0 0 5%;
      padding: 2em 0 0 0;
      right: -100%;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
      transform-origin: bottom right; }
    .sticky-section .block {
      padding: 0 6.5em; }
    .sticky-section .image-block {
      width: 50%; }
    .sticky-section .text-block {
      width: 50%;
      -webkit-transform: translateX(2.5em);
      -ms-transform: translateX(2.5em);
      transform: translateX(2.5em); } }

.sticky-section .clip-path .container {
  padding-bottom: 20em; }

/* LAYOUT SECTION */
@media (min-width: 768px) {
  .split-crossed .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .split-crossed .image-block {
    width: 45%; }
  .split-crossed .text-block {
    width: 55%; }
    .split-crossed .text-block h2 {
      -webkit-transform: translateX(2.5em);
      -ms-transform: translateX(2.5em);
      transform: translateX(2.5em); }
    .split-crossed .text-block h3 {
      font-size: 3.2vw;
      line-height: .5em; } }

.site-header h1 {
  font-size: 10vw;
  color: #e2e269;
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 0; }

.site-header h1 {
  font-size: 10vw;
  color: #e2e269;
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 20%;
  padding-bottom: 0; }

@media (max-width: 768px) {
  .timeline-date ul {
    background: rgba(0, 0, 255, 0.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    margin-top: 7em;
    border-bottom: 1px solid pink;
    width: 100%;
    text-align: center; }
  .timeline-date li {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1em 1.7em; }
  .timeline-event {
    min-height: 0; }
    .timeline-event ul {
      border: 1px solid red;
      width: 500px;
      height: auto;
      position: relative;
      padding: 0;
      margin: 0; }
    .timeline-event li {
      position: absolute;
      background: purple;
      width: 100%; }
      .timeline-event li h3 {
        margin-top: 0;
        margin-bottom: .5em; }
      .timeline-event li h4 {
        margin-top: 0;
        margin-bottom: .5em;
        font-size: 1.6em; }
      .timeline-event li p {
        margin-top: 0; } }

@media (min-width: 768px) {
  .timeline-date ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    margin-top: 7em;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    border-bottom: 1px solid rgba(192, 36, 153, 0.5);
    width: 100%;
    text-align: center; }
  .timeline-date li {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1em 2em;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); }
  .timeline-event {
    min-width: 0; }
    .timeline-event ul {
      width: 500px;
      height: auto;
      position: relative;
      padding: 0; }
    .timeline-event li {
      position: absolute;
      width: 100%; }
      .timeline-event li h3 {
        margin-top: 0;
        margin-bottom: .5em; }
      .timeline-event li h4 {
        margin-top: 0;
        margin-bottom: .5em;
        font-size: 1.6em; }
      .timeline-event li p {
        margin-top: 0; } }

/* SITE NAVIGATION */
.site-header .site-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid; }
  .site-header .site-nav ul {
    border: 1px solid blue;
    position: fixed;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 0%;
    right: 10%;
    margin: 0;
    padding: 0; }
  .site-header .site-nav li {
    opacity: 0;
    padding-top: 2em;
    padding-bottom: 2em;
    height: 1.5em; }
  .site-header .site-nav.active {
    position: fixed;
    z-index: 100; }
    .site-header .site-nav.active ul {
      border: 1px solid red; }
    .site-header .site-nav.active li {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left;
      opacity: 1; }

/* MENU BUTTON */
.menu-button {
  position: fixed;
  top: 10%;
  right: 10%;
  width: 1.5em;
  height: 1.5em;
  overflow: hidden;
  z-index: 200; }
  .menu-button:before {
    display: inline-block;
    font-size: 1.2em;
    width: 1.5em;
    height: 1.5em;
    content: "\2630";
    color: #e2e269;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.active .menu-button.navicon:before {
  content: "\2630";
  color: #e2e269;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg); }

.site-footer .site-nav a {
  display: block;
  padding: .5em 0 .75em 0; }

.site-footer .site-nav h5 {
  -webkit-transform: rotate(90deg) translate(70%, 0%);
  -ms-transform: rotate(90deg) translate(70%, 0%);
  transform: rotate(90deg) translate(70%, 0%);
  -webkit-transform-origin: bottom right;
  -ms-transform-origin: bottom right;
  transform-origin: bottom right; }

.sub-footer .nav {
  text-align: center; }

.sub-footer ul {
  display: inline-block; }

.sub-footer li {
  display: inline-block;
  padding: .5em 1.5em; }

/* HEADING */
.sub-page .site-header {
  min-height: 5em; }

.sub-page h1 {
  font-family: "kings-caslon", sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5);
  text-transform: none;
  padding: 0;
  margin: 0;
  text-align: left; }

.sub-page h2 {
  margin: 0; }

.sub-page .site-header .site-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid; }
  .sub-page .site-header .site-nav ul {
    position: fixed;
    top: 15%;
    right: 10%;
    -webkit-transform: translate(-15%, -10%);
    -ms-transform: translate(-15%, -10%);
    transform: translate(-15%, -10%);
    margin: 0;
    padding: 0; }
  .sub-page .site-header .site-nav li {
    opacity: 0;
    text-align: right; }
  .sub-page .site-header .site-nav a {
    display: block;
    padding: .5em 0 .75em 0; }
  .sub-page .site-header .site-nav.active {
    position: fixed;
    z-index: 100; }
    .sub-page .site-header .site-nav.active ul {
      top: 15%; }
    .sub-page .site-header .site-nav.active li {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      opacity: 1; }

.sub-page .menu-button {
  position: fixed;
  top: 2.5em;
  right: 2.5em;
  width: 1.5em;
  height: 1.5em;
  overflow: hidden;
  z-index: 200; }
  .sub-page .menu-button:before {
    display: inline-block;
    font-size: 1.2em;
    width: 1.5em;
    height: 1.5em;
    content: "\2630";
    color: rgba(192, 36, 153, 0.5);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.sub-page .active .menu-button.navicon:before {
  content: "\2630";
  color: rgba(192, 36, 153, 0.5);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg); }
