/* ------------------------
CSS TABLE OF CONTENTS
# GLOBAL CSS
    # MIXINS
    # TYPOGRAPHY
        # BODY
        # HEADINGS
    # MEDIA
        # IMG    
    # LAYOUT
        # BOX SIZING
        # CONTAINER
        # SECTION
    # STRUCTURE
        # SECTION
        # HERO SECTIONS
        # LAYOUT SECTIONS
        # SITE HEADER
        # SITE NAV
------------------------ */
/* BODY */
body {
  font-family: "kings-caslon", sans-serif;
  font-size: 100%;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.85); }

/* HEADINGS */
h1 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 8em; }

h2 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.75em;
  /* transform: rotate(-90deg); */ }

h3 {
  font-family: "kings-caslon", sans-serif;
  font-weight: 400;
  font-size: 2em; }

h4 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 1.25em; }

h5 {
  font-family: "kings-caslon", sans-serif;
  color: rgba(0, 0, 0, 0.5); }

h6 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-size: 1em; }

p {
  font-family: "kings-caslon", sans-serif;
  font-weight: 400;
  font-size: .9em;
  max-width: 29em; }

.site-nav li {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  list-style: none;
  font-weight: 300;
  font-size: 1.2em;
  list-style: none; }

li {
  list-style: none;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 200; }

a {
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

.clip-path .container {
  position: relative;
  padding: 0; }

.clip-path img {
  opacity: 0; }

.clip-path a {
  display: block; }

.clip-path .rust {
  background-image: url(/img/rust.jpg);
  background-size: 120%;
  background-position: right top;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 0 50%);
  clip-path: polygon(0 0%, 100% 0%, 0 50%); }

.clip-path .yellow {
  background-image: url(/img/yellow.jpg);
  background-size: 120%;
  position: absolute;
  top: 2%;
  -webkit-clip-path: polygon(0% 38%, 100% 0, 100% 60%);
  clip-path: polygon(0% 38%, 100% 0, 100% 60%); }

.clip-path .blue {
  background-image: url(/img/blue.jpg);
  background-size: 120%;
  position: absolute;
  top: 32%;
  -webkit-clip-path: polygon(0 100%, 100% 33%, 0 0);
  clip-path: polygon(0 100%, 100% 33%, 0 0); }

.clip-path .bluewater {
  background-image: url(/img/bluewater.jpg);
  background-size: 100%;
  position: absolute;
  top: 50%;
  -webkit-clip-path: polygon(0% 52%, 100% 0, 100% 80%);
  clip-path: polygon(0% 52%, 100% 0, 100% 80%); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container {
  background: rgba(255, 0, 0, 0.2);
  padding: 0 4%;
  margin: 0 auto;
  max-width: 1000px; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1050px) {
  .container {
    max-width: 1050px; } }

@media (min-width: 1050px) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: 1250px; } }

/* SECTIONS */
section {
  padding: 3em 0;
  min-height: 100vh;
  place-items: center;
  display: -ms-grid;
  display: grid; }

/* STICKY SECTIONS ONLY */
@media (min-width: 768px) {
  .sticky-section {
    padding: 0;
    display: block;
    min-height: 0; }
    .sticky-section .container {
      padding: 0 0 0 0;
      min-height: 100vh; }
    .sticky-section h2 {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 100;
      width: 3em;
      margin: 0 0 0 5%;
      padding: 2em 0 0 0; }
    .sticky-section .block {
      padding: 0 0 10vh 0; } }

/* LAYOUT SECTION */
@media (min-width: 768px) {
  .split-crossed .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .split-crossed .image-block {
    width: 50%; }
  .split-crossed .text-block {
    width: 50%; }
    .split-crossed .text-block h2 {
      -webkit-transform: translateX(2.5em);
      -ms-transform: translateX(2.5em);
      transform: translateX(2.5em); } }

.site-header {
  background-image: url(/img/cuadra.home.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  min-width: 100%;
  height: auto; }
  .site-header h1 {
    font-size: 20vh;
    text-align: center;
    padding-top: 25%;
    margin: 0;
    color: #e2e269; }

/* SITE NAVIGATION */
.site-header .site-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  place-items: center; }
  .site-header .site-nav ul {
    position: fixed;
    top: 10vh;
    right: 10vh; }
  .site-header .site-nav li {
    opacity: 0; }
  .site-header .site-nav a {
    display: block;
    padding: .5em;
    width: 3em; }
  .site-header .site-nav.active {
    position: fixed;
    z-index: 100; }
    .site-header .site-nav.active ul {
      top: 10%; }
    .site-header .site-nav.active li {
      opacity: 1; }

/* MENU BUTTON */
.menu-button {
  position: absolute;
  top: 10vh;
  right: 10vh;
  width: 2em;
  height: 2em;
  overflow: hidden; }
  .menu-button:before {
    display: inline-block;
    width: 2em;
    height: 2em;
    content: "\2630";
    color: #e2e269;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.active .menu-button.navicon:before {
  content: "\2630";
  color: #e2e269;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg); }

/* HERO SECTIONS */
