/* ------------------------
CSS TABLE OF CONTENTS
# GLOBAL CSS
    # MIXINS
    # SUBPAGE
        # HEADINGS
        # SITE NAVIGATION
        # FOOTER
    # TYPOGRAPHY
        # BODY
        # HEADINGS
    # MEDIA
        # IMG   
        # CLIP PATH
        # SUBPAGE CLIP PATH
    # LAYOUT
        # BOX SIZING
        # CONTAINER
        # SECTION
    # GRID
        #   
    # STRUCTURE
        # SECTION
        # HERO SECTIONS
        # STICKY SECTIONS 
        # LAYOUT SECTIONS
        # TIMELINE SECTIONS
        # SITE HEADER & SITE NAV
        # MENU BUTTON
        # SITE FOOTER
        # SUB-FOOTER

------------------------ */
/* BODY */
body {
  font-family: "kings-caslon", sans-serif;
  font-size: 100%;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.8); }

/* HEADINGS */
h1 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-weight: 200;
  font-size: 8em; }

h2 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-weight: 300;
  font-size: 1.75em;
  color: rgba(0, 0, 0, 0.65); }

h3 {
  font-family: "kings-caslon", sans-serif;
  font-weight: 400;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.65); }

h4 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-weight: 200;
  font-size: 1.25em; }

h5 {
  font-family: "kings-caslon", sans-serif;
  color: rgba(0, 0, 0, 0.5); }

h6 {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-size: 1em; }

p {
  font-family: "kings-caslon", sans-serif;
  font-weight: 400;
  font-size: .9em;
  max-width: 29em; }

.site-nav li {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: .03em;
  list-style: none;
  font-weight: 300;
  font-size: 1.2em;
  color: rgba(0, 0, 0, 0.5); }

li {
  list-style: none;
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: 200;
  list-style: none;
  color: rgba(0, 0, 0, 0.5); }

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5); }

hr {
  display: block;
  width: 80%;
  height: 1px;
  border: 0;
  border-top: 1px solid #fe84b2;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  padding-top: 0;
  margin-bottom: 0; }

img {
  max-width: 100%;
  height: auto; }

.clip-path .container {
  position: relative;
  padding: 0;
  background: red; }

.clip-path img {
  opacity: 0; }

.clip-path a {
  display: block; }

.clip-path .rust {
  background-image: url(../img/rust.jpg);
  background-size: 120%;
  background-position: right top;
  -webkit-clip-path: polygon(0 0%, 100% 0%, 0 50%);
  clip-path: polygon(0 0%, 100% 0%, 0 50%); }

.clip-path .yellow {
  background-image: url(../img/yellow.jpg);
  background-size: 120%;
  position: absolute;
  top: 1vw;
  -webkit-clip-path: polygon(30% 26.75%, 100% 0, 100% 60%);
  clip-path: polygon(30% 26.75%, 100% 0, 100% 60%); }

.clip-path .blue {
  background-image: url(../img/blue.jpg);
  background-size: 120%;
  position: absolute;
  top: 27.45vw;
  -webkit-clip-path: polygon(29% 0.5%, 85% 40.5%, 0 100%, 0 17%);
  clip-path: polygon(29% 0.5%, 85% 40.5%, 0 100%, 0 17%); }

.clip-path .bluewater {
  background-image: url(../img/bluewater.jpg);
  background-size: 100%;
  position: absolute;
  top: 54.2vw;
  -webkit-clip-path: polygon(86% 0, 100% 7.5%, 100% 46%, 0 46%);
  clip-path: polygon(86% 0, 100% 7.5%, 100% 46%, 0 46%); }

.rust img {
  -webkit-clip-path: polygon(0 0%, 100% 0%, 0 50%);
  clip-path: polygon(0 0%, 100% 0%, 0 50%);
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out; }

.rust:hover img {
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%); }

.pink img {
  -webkit-clip-path: polygon(100 0%, 0% 100%, 100% 100%);
  clip-path: polygon(100 0%, 0% 100%, 100% 100%);
  -webkit-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out; }

.pink:hover img {
  -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
  clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

.container {
  padding: 0 4%;
  margin: 0 auto;
  max-width: 1000px; }

@media (min-width: 768px) {
  body {
    font-size: 100%; } }

@media (min-width: 1050px) {
  .container {
    max-width: 1050px; } }

@media (min-width: 1050px) {
  body {
    font-size: 112.5%; }
  .container {
    max-width: 1250px; } }

/* Grid */
.row .column {
  margin-bottom: 2%; }

@media (min-width: 768px) {
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: -1%;
    margin-right: -1%; }
    .row.swap {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
    .row.center {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
  .column {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1%; }
    .column.one-half {
      width: 48%; }
    .column.one-third {
      width: 31.3333%; }
    .column.two-thirds {
      width: 64.6666%; }
    .column.one-fourth {
      width: 23%; } }

/* SECTIONS */
section {
  padding: 3em 0;
  min-height: 100vh;
  place-items: center;
  display: -ms-grid;
  display: grid; }

.home {
  min-height: 0;
  padding: 0; }

/* HERO SECTIONS */
.hero {
  min-height: 0;
  margin: 0;
  padding: 0; }

/* STICKY SECTIONS ONLY */
@media (min-width: 768px) {
  .sticky-section {
    padding: 0;
    display: block;
    min-height: 0; }
    .sticky-section .container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      padding: 0 0 0 0;
      min-height: 65vh; }
    .sticky-section h2 {
      text-align: right;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 100;
      width: 3em;
      margin: 0 0 0 -2%;
      padding: 2em 0 0 0;
      right: -100%;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
      transform-origin: bottom right; }
    .sticky-section .block {
      padding: 0 6.5em; }
    .sticky-section .image-block {
      width: 50%; }
    .sticky-section .text-block {
      width: 50%;
      -webkit-transform: translateX(2.5em);
      -ms-transform: translateX(2.5em);
      transform: translateX(2.5em); } }

.sticky-section .clip-path .container {
  padding-bottom: 20em; }

/* LAYOUT SECTIONS */
@media (min-width: 768px) {
  .split-crossed .block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .split-crossed .image-block {
    width: 45%; }
  .split-crossed .text-block {
    width: 55%; }
    .split-crossed .text-block h2 {
      -webkit-transform: translateX(2.5em);
      -ms-transform: translateX(2.5em);
      transform: translateX(2.5em); }
    .split-crossed .text-block h3 {
      font-size: 3.2vw;
      line-height: .5em; } }

.site-header h1 {
  font-size: 9.25vw;
  font-weight: 300;
  color: #f2f2f2;
  position: absolute;
  width: 100%;
  text-align: center;
  padding-top: 21.75%;
  padding-bottom: 0; }

/* TIMELINE SECTIONS */
#life {
  overflow-x: hidden; }

.timeline-date {
  overflow-x: hidden;
  position: absolute;
  width: 100%;
  min-height: 70%;
  padding-top: 4%;
  margin-top: -13em; }
  .timeline-date ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    margin: 0 -10%;
    margin-top: 10em;
    border-bottom: 1px solid #fe84b2;
    width: 120%;
    text-align: center;
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    justify-content: center; }
  .timeline-date li {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .timeline-date li a.active {
      font-weight: bold; }

.timeline-event {
  min-width: 0;
  padding-top: 0; }
  .timeline-event ul {
    width: 500px;
    height: auto;
    position: relative;
    padding: 0; }
  .timeline-event li {
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: translate(-2em, -2em);
    -ms-transform: translate(-2em, -2em);
    transform: translate(-2em, -2em); }
    .timeline-event li.active {
      visibility: visible;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
      -webkit-transition: all .4s ease-out;
      -o-transition: all .4s ease-out;
      transition: all .4s ease-out;
      opacity: 1; }
    .timeline-event li h3 {
      color: rgba(0, 0, 0, 0.65);
      margin-top: 0;
      margin-bottom: .25em; }
    .timeline-event li h4 {
      margin-top: 0;
      margin-bottom: .25em;
      font-size: 1.6em; }
    .timeline-event li p {
      margin-top: 0; }

section.timeline-event {
  min-height: 0;
  margin-top: 15vh;
  padding-bottom: 50vh; }
  section.timeline-event h2 {
    padding-top: 2em 0 0 0; }

@media (max-width: 768px) {
  .timeline-date ul {
    padding-top: 0;
    -webkit-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg); }
  .timeline-date li {
    padding: 1em 1.7em;
    -webkit-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg); }
  .timeline-event ul {
    margin: 0; } }

@media (min-width: 768px) {
  .timeline-date ul {
    padding-top: 3em;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg); }
  .timeline-date li {
    padding: 1em 2em;
    -webkit-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    transform: rotate(-15deg); } }

/* SITE HEADER */
.site-header .site-nav {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid; }
  .site-header .site-nav ul {
    border: 1px solid blue;
    display: inline-block;
    position: absolute;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    top: 8vh;
    right: 1vw;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: bottom left;
    -ms-transform-origin: bottom left;
    transform-origin: bottom left;
    margin-top: 0;
    padding: 0;
    list-style: none; }
  .site-header .site-nav li {
    float: left;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 2em; }
  .site-header .site-nav.active {
    position: absolute;
    z-index: 100; }
    .site-header .site-nav.active li {
      opacity: .9; }
    .site-header .site-nav.active a {
      display: block;
      color: #e3bd42; }

/* MENU BUTTON */
.menu-button {
  position: absolute;
  top: 6.25vw;
  right: 11vw;
  width: 1.5em;
  height: 1.5em;
  overflow: hidden;
  z-index: 200;
  cursor: pointer; }
  .menu-button:before {
    display: inline-block;
    font-size: 1.2em;
    width: 1.5em;
    height: 1.5em;
    content: "\2630";
    color: #e3bd42;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }

.active .menu-button.navicon:before {
  content: "\2630";
  color: #e3bd42;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg); }

/* SITE FOOTER */
.site-footer {
  padding-top: 0;
  padding-bottom: 0; }
  @media (min-width: 768px) {
    .site-footer .site-nav {
      text-align: left;
      padding-left: 0; }
    .site-footer a {
      display: block;
      padding: .5em 0 .75em 0; }
    .site-footer ul {
      min-width: 200px; }
    .site-footer h5 {
      background: red;
      margin-top: -25;
      padding-top: 0;
      top: 15%;
      left: 50%;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      -webkit-transform-origin: top left;
      -ms-transform-origin: top left;
      transform-origin: top left; } }

/* HEADING */
.sub-page {
  /* MENU BUTTON */ }
  .sub-page .site-header {
    min-height: 5em; }
  .sub-page h1 {
    font-family: "kings-caslon", sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: rgba(0, 0, 0, 0.5);
    text-transform: none;
    padding: 0;
    margin: 0;
    text-align: left; }
  .sub-page h2 {
    margin: 0em;
    padding-top: 2em;
    padding-left: 0;
    font-weight: 200;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.5); }
  .sub-page .site-header .site-nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: -ms-grid;
    display: grid; }
    .sub-page .site-header .site-nav ul {
      display: inline-block;
      position: fixed;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      top: 15%;
      right: -31.6%;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
      transform-origin: bottom left;
      margin-top: 0;
      padding: 0; }
    .sub-page .site-header .site-nav li {
      float: left;
      opacity: 0;
      padding-right: 4em;
      padding-left: 0; }
    .sub-page .site-header .site-nav.active {
      position: fixed;
      z-index: 100; }
      .sub-page .site-header .site-nav.active li {
        opacity: .6; }
      .sub-page .site-header .site-nav.active a {
        color: #e3bd42; }
  .sub-page .menu-button {
    position: fixed;
    top: 10%;
    right: 10%;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    z-index: 200; }
    .sub-page .menu-button:before {
      display: inline-block;
      font-size: 1.2em;
      width: 1.5em;
      height: 1.5em;
      content: "\2630";
      color: #e3bd42;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg); }
  .sub-page .active .menu-button.navicon:before {
    content: "\2630";
    color: #e3bd42;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); }

/* FOOTER */
.sub-footer hr {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg); }

.sub-footer .site-nav {
  text-align: center; }

.sub-footer .nav {
  text-align: center; }

.sub-footer ul {
  display: inline-block; }

.sub-footer li {
  display: inline-block;
  padding: .5em 1.5em; }
