/* ------------------------
CSS TABLE OF CONTENTS
# GLOBAL CSS
    # MIXINS
    # SUBPAGE
        # HEADINGS
        # SITE NAVIGATION
        # FOOTER
    # TYPOGRAPHY
        # BODY
        # HEADINGS
    # MEDIA
        # IMG   
        # CLIP PATH
        # SUBPAGE CLIP PATH
    # LAYOUT
        # BOX SIZING
        # CONTAINER
        # SECTION
    # GRID
        #   
    # STRUCTURE
        # SECTION
        # HERO SECTIONS
        # STICKY SECTIONS 
        # LAYOUT SECTIONS
        # TIMELINE SECTIONS
        # SITE HEADER & SITE NAV
        # MENU BUTTON
        # SITE FOOTER
        # SUB-FOOTER

------------------------ */

// VARIABLES
$sans-fontfamily: "proxima-nova-extra-condensed", sans-serif;
$serif-fontfamily: "kings-caslon", sans-serif;
// $body-maxwidth: 29em;

//COLORS 
$color-text-body: rgba(0,0,0,.7);
$color-darkgrey: rgba(0,0,0,.65);
$color-midgrey: rgba(0,0,0,.5);
$color-offwhite:rgb(242, 242, 242);
$color-accent: rgb(254, 132, 178);
$color-accent1: rgba(192, 36, 153, 0.5);
$color-accent2a: rgb(226, 226, 105,);
$color-accent2b: rgb(214, 177, 57);
$color-accent2: rgb(227, 189, 66);

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

// IMPORT PARTIALS
@import 'partials/mixins';
@import 'partials/typography';
@import 'partials/media';
@import 'partials/layout';
@import 'partials/grid';
@import 'partials/structure';
@import 'partials/subpage';











