img {
    max-width: 100%;
    height: auto;
}

.clip-path {
    .container {
        position: relative;
        padding: 0;
        // max-width: $breakpoint-large;
        // max-height: $breakpoint-large;
    }
    img {
        opacity: 0;
    }
    a {
        display: block;
    }
    .rust {
        background-image: url(../img/rust.jpg);
        background-size: 120%;
        background-position: right top;
        clip-path: polygon(0 0%, 100% 0%, 0 50%);
    }
    .yellow {
        background-image: url(../img/yellow.jpg);
        background-size: 120%;
        position: absolute;
        top: 1vw;
        clip-path: polygon(30% 26.75%, 100% 0, 100% 60%);
    }
    .blue {
        background-image: url(../img/blue.jpg);
        background-size: 110%;
        position: absolute;
        // top: 27.45vw;
        top: 28vw;
        clip-path: polygon(29% .5%, 85% 40.5%, 0 100%, 0 17%);
    }
    .bluewater {
        background-image: url(../img/bluewater.jpg);
        background-size: 100%;
        position: absolute;
        // top: 54.2vw;  
        top: 55.5vw;       
        clip-path: polygon(86% 0, 100% 7.5%, 100% 46%, 0 46%);
    }
}

// SUBPAGES MEDIA//
// .rust {
//     img {
//         clip-path: polygon(0 0%, 100% 0%, 0 50%);
//         transition: all .4s ease-out;
//     }
//     &:hover img {
//         clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
//     }
// }

// .pink {
//     img {
//         clip-path: polygon(100 0%, 0% 100%, 100% 100%);
//         transition: all .4s ease-out;
//     }
//     &:hover img {
//         clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 100%);
//     }
// }

