/* SECTIONS */
section {
    padding: 3em 0;
    min-height: 100vh;
    place-items: center; 
    display: grid;
    background: rgba(0,255,0,.5);  
}

/* STICKY SECTIONS ONLY */
.sticky-section {
    @media(min-width: $breakpoint-small) {
        padding: 0;
        display: block;
        min-height: 0;
        .container {
            padding: 0 0 0 0;
            min-height: 100vh;
        }
        h2 {
        // text-align: right;
        position: sticky;
        top: 0; //need for setting position
        z-index: 100; 
        width: 3em;
        margin: 0 0 0 5%;
        padding: 2em 0 0 0;
        // right: -100%;
        // transform: translateX(-50%);
        // border: 1px solid yellow;
        }
        .block {
            padding: 0 0 10vh 0;
        }
    }
}

/* LAYOUT SECTION */
.split-crossed {
    background: rgba(0,0,255,.5);
    @media (min-width: $breakpoint-small) {
        .block {
            display: flex;
            align-items: center;
        }

        .image-block {
            width: 50%;
        }

        .text-block {
            width: 50%;
            h2 {
                transform: translateX(2.5em);
            }
        }
    }
}


/* HERO SECTIONS */
.hero {
    h1 {
        // font-size: 8vh;
        // margin: 0;
    }
  
}
.hero-wrapper {
    display: flex;
    margin: 0;
    display: flex;
}
