/* SECTIONS */
section {
    padding: 3em 0;
    min-height: 100vh;
    place-items: center; 
    display: grid;
    // background: rgba(0,255,0,.5);  
}

.home {
    min-height: 0;
    padding: 0;
}

/* HERO SECTIONS */

.hero {
    min-height: 0;
    margin: 0;
    padding: 0;
}


/* STICKY SECTIONS ONLY */
.sticky-section {
    @media(min-width: $breakpoint-small) {
        padding: 0;
        display: block;
        min-height: 0;

        .container {
            display: flex;
            align-items: center;
            padding: 0 0 0 0;
            min-height: 65vh;
        }

        h2 {
        text-align: right;
        position: sticky;
        top: 0; //need for setting position
        z-index: 100; 
        width: 3em;
        margin: 0 0 0 -2%;
        padding: 2em 0 0 0;
        right: -100%;
        transform: rotate(-90deg);
        transform-origin: bottom right;
        }

        .block {
            padding: 0 6.5em;   
        }

        .image-block {
            width: 50%;
        }

        .text-block {
            width: 50%;
            transform: translateX(2.5em);
        }

    }
    .clip-path {
        .container {
            padding-bottom: 20em;
        }
    }
}


/* LAYOUT SECTIONS */
.split-crossed {
    @media (min-width: $breakpoint-small) {
        .block {
            display: flex;
            align-items: center;
        }

        .image-block {
            width: 45%;
        }

        .text-block {
            width: 55%;
            h2 {
                transform: translateX(2.5em);
            }
            h3 {
                font-size: 3.2vw;
                line-height: .5em;
            }
        }
        }
}

.site-header {
    h1 {
        font-size: 9.25vw;
        font-weight: 300;
        color: $color-offwhite;
        // color: $color-accent2;
        position: absolute;
        width: 100%;
        text-align: center;
        padding-top: 21.75%;
        padding-bottom: 0;
        }
}


/* TIMELINE SECTIONS */

#life {
    overflow-x: hidden;
}

// ALL SCREEN SIZES (MOBILE FIRST)
.timeline-date {
    overflow-x: hidden;
    // background: yellow;
    position: absolute;
    width: 100%;
    min-height: 70%;
    padding-top: 4%;
    margin-top: -13em;
    ul {
        display: flex;
        justify-content: center;
        padding-left: 0;
        padding-right: 0;
        margin: 0 -10%;
        margin-top: 10em;
        border-bottom: 1px solid $color-accent;
        width: 120%;
        text-align: center;
        transform-origin: bottom center;
        justify-content: center;
    }
    li {
        justify-content: center;
        a {
            
            &.active  {
                font-weight: bold;
            }
        }
    }
}

.timeline-event {
    min-width: 0;
    padding-top: 0;
    ul {
       width: 500px;
       height: auto;
       position: relative;
       padding: 0;
    }
    li {
        position: absolute;
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transform: translate(-2em, -2em);
        &.active {
            visibility: visible;
            transform: translate(0, 0);
            transition: all .4s ease-out;
            opacity: 1;
        }
        h3 {
            color: $color-darkgrey;
            margin-top: 0;
            margin-bottom: .25em;
        }
        h4 {
            margin-top: 0;
            margin-bottom: .25em;
            font-size: 1.6em;
            
        }
        p {
            margin-top: 0;
        } 
    }
}

section.timeline-event {
    min-height: 0;
    margin-top: 15vh;
    padding-bottom: 50vh;
    h2 {
        padding-top: 2em 0 0 0;
    } 
}

// SMALL  SCREENS ONLY
@media (max-width: $breakpoint-small) {
    .timeline-date {
        ul {
            padding-top: 0; 
            transform: rotate(10deg);
        } 
        li {
            padding: 1em 1.7em;
            transform: rotate(-10deg);
        }  
    }
    .timeline-event {
        ul {
            margin: 0;
            }
    }    
}

// BIG SCREENS ONLY
@media(min-width: $breakpoint-small) {
.timeline-date {
        ul {
            padding-top: 3em;
            transform: rotate(15deg);   
        }
        li {
            padding: 1em 2em;
            transform: rotate(-15deg);
        }       
    }
}

/* SITE HEADER */
.site-header .site-nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    ul {
        border: 1px solid blue;
        display: inline-block;
        position: absolute;
        justify-content: space-between;
       
    top: 6.25vw;
    right: 11vw;
        transform: rotate(90deg) translateX(110%);
        transform-origin: top right;
        // transform: translate(-15%, -10%);
        margin-top: 0;
        padding: 0;
        list-style: none;

    }
    li {
        float: left;
        opacity: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0;
        padding-right: 2em;
        }

    &.active {
        position: absolute;
        z-index: 100;
        li {
            opacity: .9;
        }
        a {
            display: block;
            color: $color-accent2;
        }
    }
}

/* MENU BUTTON */
.menu-button {
    position: absolute;
    // position: fixed;
    // top: 10%;
    // right: 10%;
    top: 6.25vw;
    right: 11vw;
    // top: 0;
    // right: 0;
    width: 1.5em;
    height: 1.5em;
    overflow: hidden;
    z-index: 200;
    cursor: pointer;

    &:before {
        display: inline-block;
        font-size: 1.2em;
        width: 1.5em;
        height: 1.5em;
        // content: url(/img/ [insert png]);
        content: "\2630";
        color: $color-accent2;
        transform: rotate(90deg);
    }
}

.active .menu-button.navicon:before {
    // content: url(/img/ [insert png]);
    content: "\2630";
    color: $color-accent2;
    transform: rotateX(0deg);
}

/* SITE FOOTER */
.site-footer {
    padding-top: 0;
    padding-bottom: 0;
@media(min-width: $breakpoint-small) {
    .site-nav {
        text-align: left;
        padding-left: 0;
    }

    a {
        display: block;
        padding: .5em 0 .75em 0;
    } 

    ul {
        // background: yellow;
        min-width: 200px;
        

    }

    h5 {
        background: red;
        margin-top: -25;
        padding-top:0;
        top: 15%;
        left: 50%; 
        transform: rotate(-90deg);
        transform-origin: top left; 
            
    }    
}
}


