/* SECTIONS */
section {
    padding: 3em 0;
    @media(min-width: $breakpoint-small) {
        &.sticky-section {
            padding: 0;
            .container {
                padding: 10vh 0 0 0;
            }
            h2 {
            text-align: right;
            position: sticky;
            top: 0;
            z-index: 100;
            width: 4em;
            margin-left: -5em;
            // right: -100%;
            // transform: translateX(-50%);
            }
            .block {
                padding: 0 0 10vh 0;
            }
        }
    }
    
}

/* HERO SECTIONS */
.hero {
   h1 {
   }
}

/* LAYOUT SECTION */
.split-crossed {
    background: blue;
    @media (min-width: $breakpoint-small) {
        .block {
            display: flex;
            align-items: center;
        }

        .image-block {
            width: 50%;
        }

        .text-block {
            width: 50%;
            h2 {
                transform: translateX(2.5em);
            }
        }
    }
}
