/* BODY */
body {
    font-family: $serif-fontfamily;
    font-size: 100%;
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.85); 
}

/* HEADINGS */
h1, h2, h3 {
}

h1 {
    @include sans-fontrules; 
    font-weight: 200;
    font-size: 8em;    
}

h2 {
    @include sans-fontrules;
    font-weight: 300;
    font-size: 1.75em;
    /* transform: rotate(-90deg); */    
}

h3 {
    font-family: $serif-fontfamily;
    font-weight: 400;
    font-size: 2em;
}

h4 {
    @include sans-fontrules;
    font-weight: 200;
    font-size: 1.25em;
}

h5 {
    font-family: $serif-fontfamily;
    color: $color-midgrey;
    // transform: rotate(-90deg) translate(100%, 50%);
}

h6 {
    font-family: $sans-fontfamily;
    font-size: 1em;


}
p {
    font-family: $serif-fontfamily;
    font-weight: 400;
    font-size: .9em;
    max-width: 29em;
}

.site-nav li {
    @include sans-fontrules;
    @include li-rules;
    font-weight: 300;
    font-size: 1.2em;
    list-style: none;
}

li {
    @include li-rules;
    font-family: $sans-fontfamily;
    font-weight: 200;
    list-style: none;
}

a {
    // color: red;
    text-decoration: none;
}

hr {
    display: block;
    width: 80%;
    height: 1px;
    border: 0;
    border-top: 1px solid $color-accent;
}